/* HEADER */
nav {
    padding: 8px;
}

.logo {
    float: left;
    padding: 8px;
    margin-left: auto;
    margin-top: 8px;
}

.logo a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 20px;
}

nav ul li:last-child {
    margin-right: -10px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: gray;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a :hover{
    background: #e6d816 ; 
    background: -moz-linear-gradient(45deg, #e6d816   0%, #f14fb3 25%, #f14fb3 50%, #e6d816 75%, #e6d816 100%); 
    background: -webkit-linear-gradient(45deg, #e6d816   0%,#f14fb3 25%,#e6d816 50%,#000080 75%,#e6d816 100%); 
    background: linear-gradient(45deg, #e6d816   0%,#e6d816 25%,#f14fb3 50%,#f14fb3 75%,#f14fb3 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    cursor: pointer;
}
@media screen and (max-width: 864px) {
    .logo {
          padding: 0;
    }

    .nav-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: #fff;
          opacity: 0;
          transition: all 0.2s ease;
    }

    .nav-wrapper ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
    }

    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
          transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
          transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
          transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
          transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }

    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #000;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.2s ease;
    }

    .nav-btn {
          position: fixed;
          right: 10px;
          top: 10px;
          display: block;
          width: 48px;
          height: 48px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
    }

    .nav-btn i {
          display: block;
          width: 20px;
          height: 2px;
          background: #000;
          border-radius: 2px;
          margin-left: -18px;
    }

    .nav-btn i:nth-child(1) {
          margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
    }

    .nav-btn i:nth-child(3) {
          margin-top: 4px;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}
/* END HEADER */




/* CAROUSEL */
.carousel-item {
	height: 89vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a {
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}
.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
@media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
}
/* CAROUSEL */



/* FOOTER */
.panel-footer {
    margin-top: 0px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: gray;
    border-top: 0;
  }
  .panel-footer div.row {
    margin-bottom: 35px;
  }
  #hours, #address {
    line-height: 2;
  }
  #hours > span, #address > span {
    font-size: 1.3em;
  }
  #hours span{
      font-size:30px;
      font-family: serif;
  }
  #address span{
      font-size:30px;
      font-family: serif;
  }
  #address p {
    color: #45742a;
    font-size: .8em;
    line-height: 1.8;
  }
  #testimonials {
    font-style: italic;
  }
  #testimonials p:nth-child(2) {
    margin-top: 25px;
  }
  /* END FOOTER */