
.my_order{
    background-color: rgb(14, 18, 70);
    margin-left:20%;
    margin-right: 20%;
    height: 550px;
    align-items: center;
    margin-top: 2%;
    margin-bottom:2%;
    border-radius: 5%;
    padding-top:2%;
}
.my_order-1{
    position: relative;
    width: 50%;
    height: 475px;
    background-color: white;
    box-shadow: -15px 0 35px rgba(8, 6, 6, 0.1);
    transition: .10s;
    margin-left:26%;
    border-radius: 5%;
}
.my_order_btn{
    width: 30%;
    padding: 10px 10px;
   font-size: 20px; 
   margin-left: 35%;
   border: 0px;
   background-color: #c0cc17; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top right, #e6d816  12%, #f14fb3);
   color: #fff;
   cursor: pointer;
   border-radius: 20px;
   outline: none;
   text-align: center;
}
.my_order_btn:hover{
    background: #ffd658;
  }
.my_order_h2{
    text-align: center;
}
.my_order_h1{
    color: black;
    font-size: 40px;
    margin-left: 45%;
    margin-bottom: 1%;
}
.my_order-3 p{
    font-size: 20px;
    color:rgb(14, 12, 12);
    margin-left: 6%;
}
.my_order-2 img{
    width: 70%;
    height: 2%;
    margin-left:15%;
}


