/* HEADER */
nav {
    padding: 8px;
}

.logo {
    float: left;
    padding: 8px;
    margin-left: auto;
    margin-top: 8px;
}

.logo a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 20px;
}

nav ul li:last-child {
    margin-right: -10px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.2px;
    font-weight: 600;
}

@media screen and (max-width: 864px) {
    .logo {
          padding: 0;
    }

    .nav-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: #fff;
          opacity: 0;
          transition: all 0.2s ease;
    }

    .nav-wrapper ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
    }

    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
          transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
          transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
          transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
          transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }

    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #000;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.2s ease;
    }

    .nav-btn {
          position: fixed;
          right: 10px;
          top: 10px;
          display: block;
          width: 48px;
          height: 48px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
    }

    .nav-btn i {
          display: block;
          width: 20px;
          height: 2px;
          background: #000;
          border-radius: 2px;
          margin-left: -18px;
    }

    .nav-btn i:nth-child(1) {
          margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
    }

    .nav-btn i:nth-child(3) {
          margin-top: 4px;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}
/* END HEADER */
.my_order{
    background-color: rgb(14, 18, 70);
    margin-left:20%;
    margin-right: 20%;
    height: 550px;
    align-items: center;
    margin-top: 2%;
    margin-bottom:2%;
    border-radius: 5%;
    padding-top:2%;
}
.my_order-1{
    position: relative;
    width: 50%;
    height: 475px;
    background-color: white;
    box-shadow: -15px 0 35px rgba(8, 6, 6, 0.1);
    transition: .10s;
    margin-left:26%;
    border-radius: 5%;
}
.my_order_btn{
    width: 30%;
    padding: 10px 10px;
   font-size: 20px; 
   margin-left: 35%;
   border: 0px;
   background-color: #c0cc17; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top right, #e6d816  12%, #f14fb3);
   color: #fff;
   cursor: pointer;
   border-radius: 20px;
   outline: none;
   text-align: center;
}
.my_order_h2{
    text-align: center;
}
.my_order_h1{
    color: black;
    font-size: 40px;
    margin-left: 45%;
    margin-bottom: 1%;
}
.my_order-3 p{
    font-size: 20px;
    color:rgb(14, 12, 12);
    margin-left: 6%;
}
.my_order-2 img{
    width: 70%;
    height: 2%;
    margin-left:15%;
}


/* FOOTER */
.panel-footer {
    margin-top: 0px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: gray;
    border-top: 0;
  }
  .panel-footer div.row {
    margin-bottom: 35px;
  }
  #hours, #address {
    line-height: 2;
  }
  #hours > span, #address > span {
    font-size: 1.3em;
  }
  #address p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
  }
  #testimonials {
    font-style: italic;
  }
  #testimonials p:nth-child(2) {
    margin-top: 25px;
  }
  /* END FOOTER */