<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Form</title>
	<link rel="stylesheet" href="../static/css/address_form.css">
</head>
<body>
  <div class="wrapper">
    <div class="content">
      <h1> ADD YOUR ADDRESS</h1>
      <p></p>
    </div>
  
    <div class="form">
  
      <div class="top-form">
        <div class="inner-form">
          <div class="label">name</div>
          <input type="text" placeholder="Jhon">
        </div>
        <div class="inner-form">
          <div class="label">email</div>
          <input type="text" placeholder="Example@gmail.com">
        </div>
        <div class="inner-form">
          <div class="label">phone</div>
          <input type="text" placeholder="1234567890">
        </div>
      </div>
  
      <div class="middle-form">
        <div class="inner-form">
          <div class="label">Address</div>
          <input type="text" placeholder="Add Address with state, city and pincode">
        </div>
      </div>

      <div class="btn">Checkout</div>
  
    </div>
  </div>
  
</body>
</html>