<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="/static/css/cartpage.css" />
    </head>
    <body>
        <div class="cartpage-1">
        <h2>Cart Items</h2>

        <table>
          <tr>
            <th>Product</th>
            <th>Price</th>
          </tr>
        </table>
        <a href="/address_form"> <button class="cartpage-btn" >Add Address</button> </a>
        </div>
    </body>
</html>