<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/my_order.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <title>Product Card</title>
</head>
<body>
 <h1 class="my_order_h1">ORDERS</h1>
 <div class="my_order_1">
   <div class="my_order_2">
       <img src="images/images1.jpg" width="" height="">
   </div>
   <div class="my_order_3">
       <p>you are not yet shop anything !!!!!</p>
       <a href="products/product.html"><button class="my_order_btn">Shop Now</button></a>
   </div>
 </div>
</body>
</html>