<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neumorphism CSS Products</title>

<!--===================www.bootstrap======================-->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!--===================Fontawesome======================-->
<link rel="stylesheet" href="css/Fontawesome.css">

<link rel="stylesheet" href="../static/css/product.css">

</head>
<body>
    <h1 class="product_h1">PRODUCTS</h1>
    <div class = "product-collection">
        <div class = "container">
            <div class = "product-collection-wrapper">
                <!-- product col left -->
                <div class = "product-col-left flex">
                    <div class = "product-col-content">
                        <img src="product_img/men.jpg" height="700px">
                        <h2 class = "sm-title">men's shoes </h2>
                        <h2 class = "md-title">men's collection </h2>
                        <p class = "text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae consequatur facilis eligendi quibusdam voluptatibus exercitationem autem voluptatum, beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                        <a href="section_a.html"> <button type = "button" class = "btn-dark"> Shop now</button></a>
                    </div>
                </div>

            </div></div></div>
        </div>
        </div>
</body>
</html>